-- CreateTable
CREATE TABLE `admin_collaborators` (
    `collaborator_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `full_name` VARCHAR(255) NOT NULL,
    `contact` VARCHAR(20) NOT NULL,
    `email` VARCHAR(255) NOT NULL,
    `service` VARCHAR(255) NULL,
    `role` VARCHAR(100) NULL,
    `current_address` VARCHAR(255) NULL,
    `cid` VARCHAR(50) NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NULL,

    UNIQUE INDEX `uniq_email`(`email`),
    UNIQUE INDEX `uniq_cid`(`cid`),
    INDEX `idx_role`(`role`),
    PRIMARY KEY (`collaborator_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `admin_logs` (
    `log_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `user_id` BIGINT UNSIGNED NULL,
    `admin_name` VARCHAR(255) NOT NULL,
    `activity` VARCHAR(255) NOT NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_created_at`(`created_at`),
    INDEX `idx_user_id`(`user_id`),
    PRIMARY KEY (`log_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `all_device_ids` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `user_id` BIGINT UNSIGNED NOT NULL,
    `device_id` VARCHAR(255) NOT NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `last_seen` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `uniq_user`(`user_id`),
    INDEX `idx_device_id`(`device_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `app_ratings` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `user_id` BIGINT UNSIGNED NULL,
    `role` VARCHAR(50) NULL,
    `rating` INTEGER NOT NULL,
    `comment` TEXT NULL,
    `platform` VARCHAR(20) NULL,
    `os_version` VARCHAR(20) NULL,
    `app_version` VARCHAR(50) NULL,
    `device_model` VARCHAR(255) NULL,
    `network_type` VARCHAR(50) NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_created_at`(`created_at`),
    INDEX `idx_rating`(`rating`),
    INDEX `idx_role`(`role`),
    INDEX `idx_user_id`(`user_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `banners_base_prices` (
    `banner_price_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `amount_per_day` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    PRIMARY KEY (`banner_price_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `business_banners` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `business_id` BIGINT UNSIGNED NOT NULL,
    `title` VARCHAR(255) NULL,
    `description` TEXT NULL,
    `banner_image` VARCHAR(255) NULL,
    `is_active` BOOLEAN NOT NULL DEFAULT true,
    `start_date` DATE NULL,
    `end_date` DATE NULL,
    `owner_type` ENUM('food', 'mart') NOT NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_business_owner_created`(`business_id`, `owner_type`, `created_at`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `business_types` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(100) NOT NULL,
    `image` VARCHAR(255) NULL,
    `types` VARCHAR(255) NULL,
    `description` TEXT NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `uk_name`(`name`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `cancellation_rules` (
    `rule_id` INTEGER NOT NULL AUTO_INCREMENT,
    `cancelled_by` ENUM('passenger', 'driver', 'system') NOT NULL,
    `ride_status` VARCHAR(50) NOT NULL,
    `stage` VARCHAR(50) NOT NULL,
    `fee_percent` DECIMAL(5, 2) NOT NULL,
    `min_fee_cents` INTEGER NOT NULL,
    `max_fee_cents` INTEGER NOT NULL,
    `is_free` BOOLEAN NULL DEFAULT false,
    `grace_minutes` INTEGER NULL,
    `description` TEXT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    PRIMARY KEY (`rule_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `cancelled_order_items` (
    `cancelled_item_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `order_id` VARCHAR(12) NOT NULL,
    `business_id` INTEGER NOT NULL,
    `business_name` VARCHAR(255) NOT NULL,
    `menu_id` INTEGER NOT NULL,
    `item_name` VARCHAR(255) NOT NULL,
    `item_image` VARCHAR(500) NULL,
    `quantity` INTEGER NOT NULL DEFAULT 1,
    `price` DECIMAL(10, 2) NOT NULL,
    `subtotal` DECIMAL(10, 2) NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_cancelled_items_biz`(`business_id`),
    INDEX `idx_cancelled_items_order`(`order_id`),
    PRIMARY KEY (`cancelled_item_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `cancelled_orders` (
    `cancelled_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `order_id` VARCHAR(12) NOT NULL,
    `user_id` INTEGER NOT NULL,
    `status` VARCHAR(100) NOT NULL DEFAULT 'CANCELLED',
    `status_reason` VARCHAR(255) NULL,
    `total_amount` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    `discount_amount` DECIMAL(10, 2) NULL DEFAULT 0.00,
    `delivery_fee` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    `platform_fee` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    `merchant_delivery_fee` DECIMAL(10, 2) NULL,
    `payment_method` ENUM('COD', 'WALLET', 'CARD') NOT NULL,
    `delivery_address` VARCHAR(500) NOT NULL,
    `note_for_restaurant` VARCHAR(500) NULL,
    `if_unavailable` VARCHAR(256) NULL,
    `fulfillment_type` ENUM('Delivery', 'Pickup') NULL DEFAULT 'Delivery',
    `priority` BOOLEAN NULL DEFAULT false,
    `estimated_arrivial_time` VARCHAR(40) NULL,
    `cancelled_by` ENUM('USER', 'MERCHANT', 'ADMIN', 'SYSTEM') NOT NULL DEFAULT 'USER',
    `cancelled_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `original_created_at` TIMESTAMP(0) NULL,
    `original_updated_at` TIMESTAMP(0) NULL,
    `delivery_floor_unit` VARCHAR(80) NULL,
    `delivery_instruction_note` VARCHAR(256) NULL,
    `delivery_photo_url` TEXT NULL,
    `delivery_special_mode` ENUM('DROP_OFF', 'MEET_UP') NULL,

    UNIQUE INDEX `uk_cancelled_order_id`(`order_id`),
    INDEX `idx_cancelled_time`(`cancelled_at`),
    INDEX `idx_cancelled_user`(`user_id`),
    PRIMARY KEY (`cancelled_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `carts` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `user_id` BIGINT UNSIGNED NOT NULL,
    `business_id` BIGINT UNSIGNED NOT NULL,
    `owner_type` ENUM('food', 'mart') NOT NULL,
    `is_active` BOOLEAN NOT NULL DEFAULT true,
    `note_for_merchant` TEXT NULL,
    `fulfillment` ENUM('pickup', 'delivery') NULL DEFAULT 'pickup',
    `business_name_snapshot` VARCHAR(255) NULL,
    `business_logo_snapshot` VARCHAR(1024) NULL,
    `subtotal` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    `platform_fee` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    `delivery_fee` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_carts_business`(`business_id`),
    INDEX `idx_carts_user`(`user_id`),
    UNIQUE INDEX `uk_active_cart`(`user_id`, `business_id`, `owner_type`, `is_active`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `contact_messages` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `full_name` VARCHAR(255) NOT NULL,
    `contact_type` ENUM('email', 'phone') NOT NULL DEFAULT 'email',
    `contact_value` VARCHAR(255) NOT NULL,
    `user_type` VARCHAR(100) NULL,
    `message` TEXT NOT NULL,
    `status` ENUM('new', 'read', 'replied') NULL DEFAULT 'new',
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NULL,

    INDEX `idx_contact_type`(`contact_type`),
    INDEX `idx_created_at`(`created_at`),
    INDEX `idx_status`(`status`),
    INDEX `idx_user_type`(`user_type`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `delivered_order_items` (
    `delivered_item_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `order_id` VARCHAR(12) NOT NULL,
    `business_id` INTEGER NOT NULL,
    `business_name` VARCHAR(255) NOT NULL,
    `menu_id` INTEGER NOT NULL,
    `item_name` VARCHAR(255) NOT NULL,
    `item_image` VARCHAR(500) NULL,
    `quantity` INTEGER NOT NULL DEFAULT 1,
    `price` DECIMAL(10, 2) NOT NULL,
    `subtotal` DECIMAL(10, 2) NOT NULL,
    `platform_fee` DECIMAL(10, 2) NULL DEFAULT 0.00,
    `delivery_fee` DECIMAL(10, 2) NULL DEFAULT 0.00,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_delivered_items_biz`(`business_id`),
    INDEX `idx_delivered_items_order`(`order_id`),
    PRIMARY KEY (`delivered_item_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `delivered_orders` (
    `delivered_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `order_id` VARCHAR(12) NOT NULL,
    `user_id` INTEGER NOT NULL,
    `service_type` ENUM('FOOD', 'MART') NOT NULL DEFAULT 'FOOD',
    `status` VARCHAR(100) NOT NULL DEFAULT 'COMPLETED',
    `status_reason` VARCHAR(255) NULL,
    `total_amount` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    `discount_amount` DECIMAL(10, 2) NULL DEFAULT 0.00,
    `delivery_fee` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    `platform_fee` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    `merchant_delivery_fee` DECIMAL(10, 2) NULL,
    `payment_method` ENUM('COD', 'WALLET', 'CARD') NOT NULL,
    `delivery_address` VARCHAR(500) NOT NULL,
    `note_for_restaurant` VARCHAR(500) NULL,
    `if_unavailable` VARCHAR(256) NULL,
    `fulfillment_type` ENUM('Delivery', 'Pickup') NULL DEFAULT 'Delivery',
    `priority` BOOLEAN NULL DEFAULT false,
    `estimated_arrivial_time` VARCHAR(40) NULL,
    `delivered_by` ENUM('USER', 'MERCHANT', 'ADMIN', 'SYSTEM', 'DRIVER') NOT NULL DEFAULT 'SYSTEM',
    `delivered_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `delivery_batch_id` BIGINT UNSIGNED NULL,
    `delivery_driver_id` INTEGER NULL,
    `delivery_status` ENUM('PENDING', 'ASSIGNED', 'PICKED_UP', 'ON_ROAD', 'DELIVERED', 'CANCELLED') NOT NULL DEFAULT 'DELIVERED',
    `delivery_ride_id` BIGINT NULL,
    `original_created_at` TIMESTAMP(0) NULL,
    `original_updated_at` TIMESTAMP(0) NULL,
    `delivery_floor_unit` VARCHAR(80) NULL,
    `delivery_instruction_note` VARCHAR(256) NULL,
    `delivery_photo_url` TEXT NULL,
    `delivery_special_mode` ENUM('DROP_OFF', 'MEET_UP') NULL,

    UNIQUE INDEX `uk_delivered_order_id`(`order_id`),
    INDEX `idx_delivered_service_created`(`service_type`, `original_created_at`),
    INDEX `idx_delivered_time`(`delivered_at`),
    INDEX `idx_delivered_user`(`user_id`),
    PRIMARY KEY (`delivered_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `delivery_batches` (
    `batch_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `merchant_id` INTEGER NOT NULL,
    `driver_id` INTEGER NULL,
    `ride_id` BIGINT NULL,
    `status` ENUM('forming', 'broadcasted', 'assigned', 'in_progress', 'completed', 'cancelled') NOT NULL DEFAULT 'forming',
    `total_orders` INTEGER NOT NULL DEFAULT 0,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `assigned_at` DATETIME(0) NULL,
    `picked_up_at` DATETIME(0) NULL,
    `completed_at` DATETIME(0) NULL,
    `assigned_driver_id` BIGINT UNSIGNED NULL,
    `city_id` VARCHAR(64) NULL,
    `pickup_lat` DOUBLE NULL,
    `pickup_lng` DOUBLE NULL,
    `pickup_place` VARCHAR(255) NULL,
    `metadata` LONGTEXT NULL,
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `fk_db_assigned_driver`(`assigned_driver_id`),
    PRIMARY KEY (`batch_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `delivery_drops` (
    `drop_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `batch_id` BIGINT UNSIGNED NOT NULL,
    `ride_id` BIGINT UNSIGNED NOT NULL,
    `seq` INTEGER NOT NULL,
    `order_id` VARCHAR(128) NULL,
    `user_id` BIGINT UNSIGNED NULL,
    `lat` DOUBLE NOT NULL,
    `lng` DOUBLE NOT NULL,
    `address` VARCHAR(512) NULL,
    `amount_cents` INTEGER UNSIGNED NOT NULL DEFAULT 0,
    `delivery_fee_cents` INTEGER UNSIGNED NOT NULL DEFAULT 0,
    `platform_fee_cents` INTEGER UNSIGNED NOT NULL DEFAULT 0,
    `cash_to_collect_cents` INTEGER UNSIGNED NOT NULL DEFAULT 0,
    `status` ENUM('pending', 'assigned', 'picked', 'delivered', 'failed', 'cancelled') NOT NULL DEFAULT 'pending',
    `assigned_at` DATETIME(0) NULL,
    `completed_at` DATETIME(0) NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `fk_dd_ride`(`ride_id`),
    INDEX `idx_batch_seq`(`batch_id`, `seq`),
    INDEX `idx_batch_status`(`batch_id`, `status`),
    PRIMARY KEY (`drop_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `driver_adjustments` (
    `adj_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `driver_id` BIGINT UNSIGNED NOT NULL,
    `ride_id` BIGINT UNSIGNED NULL,
    `type` ENUM('cancellation_payout', 'penalty', 'bonus') NOT NULL,
    `amount_cents` INTEGER NOT NULL,
    `currency` CHAR(3) NOT NULL DEFAULT 'BTN',
    `meta_json` LONGTEXT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_driver_date`(`driver_id`, `created_at`),
    INDEX `idx_ride`(`ride_id`),
    PRIMARY KEY (`adj_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `driver_devices` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `user_id` BIGINT UNSIGNED NOT NULL,
    `device_id` VARCHAR(255) NOT NULL,
    `updated_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `unique_driver_device`(`user_id`, `device_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `driver_documents` (
    `document_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `driver_id` BIGINT UNSIGNED NOT NULL,
    `document_type` ENUM('license', 'insurance', 'registration', 'profile') NOT NULL,
    `document_url` VARCHAR(255) NOT NULL,
    `verification_status` ENUM('pending', 'verified', 'rejected') NULL DEFAULT 'pending',
    `uploaded_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `verified_at` TIMESTAMP(0) NULL,
    `verified_by` BIGINT UNSIGNED NULL,
    `metadata` LONGTEXT NULL,

    INDEX `document_type`(`document_type`),
    INDEX `driver_id`(`driver_id`),
    INDEX `verification_status`(`verification_status`),
    PRIMARY KEY (`document_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `driver_earnings` (
    `earning_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `driver_id` BIGINT UNSIGNED NOT NULL,
    `ride_id` BIGINT UNSIGNED NOT NULL,
    `base_fare_cents` INTEGER UNSIGNED NOT NULL DEFAULT 0,
    `time_cents` INTEGER UNSIGNED NOT NULL DEFAULT 0,
    `tips_cents` INTEGER UNSIGNED NOT NULL DEFAULT 0,
    `currency` CHAR(3) NOT NULL DEFAULT 'BTN',
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `payment_method` VARCHAR(20) NULL,

    INDEX `idx_de_payment_method`(`payment_method`),
    INDEX `idx_driver`(`driver_id`),
    INDEX `idx_payment_method`(`payment_method`),
    INDEX `idx_ride`(`ride_id`),
    UNIQUE INDEX `uniq_driver_ride`(`driver_id`, `ride_id`),
    PRIMARY KEY (`earning_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `driver_locations` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `driver_id` BIGINT UNSIGNED NOT NULL,
    `loc` point NOT NULL,
    `recorded_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `driver_id`(`driver_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `driver_vehicles` (
    `vehicle_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `driver_id` BIGINT UNSIGNED NOT NULL,
    `make` VARCHAR(50) NOT NULL,
    `model` VARCHAR(50) NOT NULL,
    `year` SMALLINT UNSIGNED NOT NULL,
    `color` VARCHAR(30) NOT NULL,
    `license_plate` VARCHAR(20) NOT NULL,
    `vehicle_type` VARCHAR(20) NOT NULL,
    `is_approved` BOOLEAN NULL DEFAULT false,
    `actual_capacity` INTEGER UNSIGNED NULL DEFAULT 0,
    `available_capacity` INTEGER UNSIGNED NULL DEFAULT 0,
    `features` VARCHAR(191) NULL,
    `insurance_expiry` DATE NULL,
    `created_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `code` VARCHAR(64) NULL,

    UNIQUE INDEX `license_plate`(`license_plate`),
    INDEX `driver_id`(`driver_id`),
    INDEX `is_approved`(`is_approved`),
    INDEX `vehicle_type`(`vehicle_type`),
    PRIMARY KEY (`vehicle_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `drivers` (
    `driver_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `user_id` BIGINT UNSIGNED NULL,
    `license_number` VARCHAR(50) NOT NULL,
    `license_expiry` DATE NOT NULL,
    `is_approved` BOOLEAN NULL DEFAULT false,
    `approval_status` ENUM('pending', 'approved', 'rejected') NULL DEFAULT 'pending',
    `approved_at` TIMESTAMP(0) NULL,
    `rejection_reason` TEXT NULL,
    `rating` DECIMAL(3, 2) NULL DEFAULT 0.00,
    `total_rides` INTEGER UNSIGNED NULL DEFAULT 0,
    `is_online` BOOLEAN NULL DEFAULT false,
    `current_location` point NOT NULL,
    `current_location_updated_at` TIMESTAMP(0) NULL,
    `created_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `user_id`(`user_id`),
    UNIQUE INDEX `license_number`(`license_number`),
    INDEX `approval_status`(`approval_status`),
    INDEX `current_location`(`current_location`(32)),
    INDEX `is_online`(`is_online`),
    PRIMARY KEY (`driver_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `food_category` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `category_name` VARCHAR(100) NOT NULL,
    `business_type` VARCHAR(100) NULL,
    `description` TEXT NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `category_image` TEXT NULL,

    UNIQUE INDEX `uk_category_name`(`category_name`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `food_mart_revenue` (
    `revenue_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `order_id` VARCHAR(12) NOT NULL,
    `user_id` INTEGER NOT NULL,
    `business_id` INTEGER NOT NULL,
    `owner_type` ENUM('FOOD', 'MART') NOT NULL,
    `source` ENUM('orders', 'cancelled', 'delivered') NOT NULL DEFAULT 'delivered',
    `status` VARCHAR(100) NULL,
    `placed_at` TIMESTAMP(0) NULL,
    `payment_method` VARCHAR(16) NULL,
    `total_amount` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    `platform_fee` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    `revenue_earned` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    `tax` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    `customer_name` VARCHAR(255) NULL,
    `customer_phone` VARCHAR(64) NULL,
    `business_name` VARCHAR(255) NULL,
    `items_summary` TEXT NULL,
    `total_quantity` INTEGER NOT NULL DEFAULT 0,
    `details_json` LONGTEXT NULL,
    `created_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `uk_food_mart_revenue_order`(`order_id`),
    INDEX `idx_fmr_biz_time`(`business_id`, `placed_at`),
    INDEX `idx_fmr_owner_time`(`owner_type`, `placed_at`),
    INDEX `idx_fmr_source_time`(`source`, `placed_at`),
    INDEX `idx_fmr_user_time`(`user_id`, `placed_at`),
    PRIMARY KEY (`revenue_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `food_menu` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `business_id` BIGINT UNSIGNED NOT NULL,
    `category_name` VARCHAR(100) NOT NULL,
    `item_name` VARCHAR(255) NOT NULL,
    `description` TEXT NULL,
    `item_image` VARCHAR(255) NULL,
    `actual_price` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    `discount_percentage` DECIMAL(5, 2) NOT NULL DEFAULT 0.00,
    `tax_rate` DECIMAL(5, 2) NOT NULL DEFAULT 0.00,
    `is_veg` BOOLEAN NOT NULL DEFAULT false,
    `spice_level` ENUM('None', 'Mild', 'Medium', 'Hot') NOT NULL DEFAULT 'None',
    `is_available` BOOLEAN NOT NULL DEFAULT true,
    `stock_limit` INTEGER NOT NULL DEFAULT 0,
    `sort_order` INTEGER NOT NULL DEFAULT 0,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_food_menu_available`(`is_available`),
    INDEX `idx_food_menu_business`(`business_id`),
    INDEX `idx_food_menu_cat`(`category_name`),
    UNIQUE INDEX `uk_foodmenu_biz_cat_name`(`business_id`, `category_name`, `item_name`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `food_ratings` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `business_id` BIGINT UNSIGNED NOT NULL,
    `user_id` BIGINT UNSIGNED NOT NULL,
    `rating` TINYINT UNSIGNED NOT NULL,
    `comment` TEXT NULL,
    `likes_count` INTEGER NOT NULL DEFAULT 0,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_fr_business`(`business_id`),
    INDEX `idx_fr_rating`(`rating`),
    INDEX `idx_fr_user`(`user_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `idempotency_keys` (
    `idem_key` VARCHAR(255) NOT NULL,
    `purpose` VARCHAR(64) NOT NULL,
    `ride_id` BIGINT UNSIGNED NULL,
    `booking_id` BIGINT UNSIGNED NULL,
    `passenger_id` BIGINT UNSIGNED NULL,
    `amount_cents` INTEGER UNSIGNED NOT NULL,
    `journal_code` VARCHAR(64) NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    PRIMARY KEY (`idem_key`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `inter_city_fares` (
    `id` INTEGER UNSIGNED NOT NULL AUTO_INCREMENT,
    `from_city` VARCHAR(100) NOT NULL,
    `to_city` VARCHAR(100) NOT NULL,
    `reserve_fare` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    `share_fare` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,

    UNIQUE INDEX `uq_inter_city_route`(`from_city`, `to_city`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `intra_city_fares` (
    `id` INTEGER UNSIGNED NOT NULL AUTO_INCREMENT,
    `from_zone` VARCHAR(100) NOT NULL,
    `to_zone` VARCHAR(100) NOT NULL,
    `reserve_fare` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    `share_fare` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    `is_share` BOOLEAN NOT NULL DEFAULT false,

    UNIQUE INDEX `uq_intra_city_route`(`from_zone`, `to_zone`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `mart_category` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `category_name` VARCHAR(100) NOT NULL,
    `business_type` VARCHAR(100) NULL,
    `description` TEXT NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `category_image` TEXT NULL,

    UNIQUE INDEX `uk_category_name`(`category_name`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `mart_menu` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `business_id` BIGINT UNSIGNED NOT NULL,
    `category_name` VARCHAR(100) NOT NULL,
    `item_name` VARCHAR(255) NOT NULL,
    `description` TEXT NULL,
    `item_image` VARCHAR(255) NULL,
    `actual_price` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    `discount_percentage` DECIMAL(5, 2) NOT NULL DEFAULT 0.00,
    `tax_rate` DECIMAL(5, 2) NOT NULL DEFAULT 0.00,
    `is_veg` BOOLEAN NOT NULL DEFAULT false,
    `spice_level` ENUM('None', 'Mild', 'Medium', 'Hot') NOT NULL DEFAULT 'None',
    `is_available` BOOLEAN NOT NULL DEFAULT true,
    `stock_limit` INTEGER NOT NULL DEFAULT 0,
    `sort_order` INTEGER NOT NULL DEFAULT 0,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_mart_menu_available`(`is_available`),
    INDEX `idx_mart_menu_business`(`business_id`),
    INDEX `idx_mart_menu_cat`(`category_name`),
    UNIQUE INDEX `uk_martmenu_biz_cat_name`(`business_id`, `category_name`, `item_name`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `mart_ratings` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `business_id` BIGINT UNSIGNED NOT NULL,
    `user_id` BIGINT UNSIGNED NOT NULL,
    `rating` TINYINT UNSIGNED NOT NULL,
    `comment` TEXT NULL,
    `likes_count` INTEGER NOT NULL DEFAULT 0,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_mr_business`(`business_id`),
    INDEX `idx_mr_rating`(`rating`),
    INDEX `idx_mr_user`(`user_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `merchant_bank_details` (
    `bank_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `user_id` BIGINT UNSIGNED NOT NULL,
    `business_id` BIGINT UNSIGNED NULL,
    `bank_name` VARCHAR(255) NOT NULL,
    `account_holder_name` VARCHAR(255) NOT NULL,
    `account_number` VARCHAR(50) NOT NULL,
    `bank_qr_code_image` TEXT NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_mbd_business`(`business_id`),
    INDEX `idx_mbd_user`(`user_id`),
    PRIMARY KEY (`bank_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `merchant_business_details` (
    `business_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `user_id` BIGINT UNSIGNED NOT NULL,
    `owner_type` VARCHAR(50) NULL,
    `business_name` VARCHAR(255) NOT NULL,
    `business_license_number` VARCHAR(100) NULL,
    `license_image` VARCHAR(255) NULL,
    `latitude` DECIMAL(10, 7) NULL,
    `longitude` DECIMAL(10, 7) NULL,
    `address` TEXT NULL,
    `business_logo` VARCHAR(255) NULL,
    `delivery_option` VARCHAR(50) NULL,
    `complementary` VARCHAR(100) NULL,
    `complementary_details` TEXT NULL,
    `opening_time` TIME(0) NULL,
    `closing_time` TIME(0) NULL,
    `kitchen_closing_time` TIME(0) NULL,
    `holidays` LONGTEXT NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `min_amount_for_fd` DECIMAL(10, 2) NULL,
    `special_celebration` VARCHAR(255) NULL,
    `special_celebration_discount_percentage` DECIMAL(5, 2) NULL DEFAULT 0.00,

    INDEX `user_id`(`user_id`),
    PRIMARY KEY (`business_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `merchant_business_types` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `business_id` BIGINT UNSIGNED NOT NULL,
    `business_type_id` BIGINT UNSIGNED NOT NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `business_id`(`business_id`),
    INDEX `business_type_id`(`business_type_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `merchant_earnings` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `business_id` BIGINT UNSIGNED NOT NULL,
    `date` DATE NOT NULL,
    `total_amount` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    `order_id` VARCHAR(50) NOT NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_me_business_date`(`business_id`, `date`),
    INDEX `idx_me_order`(`order_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `notifications` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `user_id` BIGINT UNSIGNED NOT NULL,
    `type` VARCHAR(50) NOT NULL,
    `title` VARCHAR(100) NOT NULL,
    `message` TEXT NOT NULL,
    `data` LONGTEXT NULL,
    `status` ENUM('unread', 'read') NULL DEFAULT 'unread',
    `created_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_user_id`(`user_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `offer_redemptions` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `offer_id` INTEGER NOT NULL,
    `user_id` VARCHAR(50) NOT NULL,
    `ride_id` VARCHAR(50) NOT NULL,
    `redeemed_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_offer_user`(`offer_id`, `user_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `offers` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `title` VARCHAR(255) NOT NULL,
    `sub` TEXT NOT NULL,
    `icon` VARCHAR(100) NULL DEFAULT 'ticket-percent-outline',
    `cta` VARCHAR(100) NULL DEFAULT 'View offers',
    `imageUrl` VARCHAR(500) NULL,
    `tint` VARCHAR(50) NULL DEFAULT 'rgba(0,177,79,0.10)',
    `category` VARCHAR(50) NULL DEFAULT 'for_you',
    `promoCode` VARCHAR(50) NULL,
    `deepLink` VARCHAR(255) NULL,
    `startDate` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `expiryDate` DATETIME(0) NOT NULL,
    `active` BOOLEAN NULL DEFAULT true,
    `for_all` BOOLEAN NULL DEFAULT false,
    `applicableTiers` LONGTEXT NULL,
    `applicableLocations` LONGTEXT NULL,
    `user_segment` LONGTEXT NULL,
    `user_id` VARCHAR(50) NULL,
    `createdAt` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updatedAt` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `max_uses_per_user` INTEGER NULL DEFAULT 1,
    `max_uses_total` INTEGER NULL,
    `current_uses_total` INTEGER NULL DEFAULT 0,
    `discount_type` ENUM('percentage', 'fixed') NULL DEFAULT 'percentage',
    `discount_value` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    `applicable_ride_type` VARCHAR(50) NULL,

    INDEX `idx_active`(`active`, `startDate`, `expiryDate`),
    INDEX `idx_category`(`category`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `order_items` (
    `item_id` INTEGER NOT NULL AUTO_INCREMENT,
    `order_id` VARCHAR(12) NOT NULL,
    `business_id` INTEGER NOT NULL,
    `batch_id` BIGINT UNSIGNED NULL,
    `business_name` VARCHAR(255) NOT NULL,
    `menu_id` INTEGER NOT NULL,
    `item_name` VARCHAR(255) NOT NULL,
    `item_image` VARCHAR(500) NULL,
    `quantity` INTEGER NOT NULL DEFAULT 1,
    `price` DECIMAL(10, 2) NOT NULL,
    `subtotal` DECIMAL(10, 2) NOT NULL,
    `platform_fee` DECIMAL(10, 2) NULL DEFAULT 0.00,
    `delivery_fee` DECIMAL(10, 2) NULL DEFAULT 0.00,

    INDEX `idx_items_biz_order`(`business_id`, `order_id`),
    INDEX `idx_items_order`(`order_id`),
    INDEX `idx_order_items_batch_id`(`batch_id`),
    INDEX `idx_order_items_order_id`(`order_id`),
    INDEX `idx_orders_batch_id`(`batch_id`),
    PRIMARY KEY (`item_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `order_notification` (
    `notification_id` CHAR(36) NOT NULL,
    `order_id` VARCHAR(12) NOT NULL,
    `business_id` INTEGER NOT NULL,
    `user_id` INTEGER NOT NULL,
    `type` VARCHAR(64) NOT NULL,
    `title` VARCHAR(160) NOT NULL,
    `body_preview` VARCHAR(220) NOT NULL,
    `is_read` BOOLEAN NOT NULL DEFAULT false,
    `created_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `delivered_at` TIMESTAMP(0) NULL,
    `seen_at` TIMESTAMP(0) NULL,

    INDEX `idx_notif_merchant_time`(`business_id`, `created_at`),
    INDEX `idx_notif_merchant_unread`(`business_id`, `is_read`, `created_at`),
    INDEX `idx_notif_order`(`order_id`),
    PRIMARY KEY (`notification_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `order_wallet_captures` (
    `order_id` VARCHAR(32) NOT NULL,
    `capture_type` VARCHAR(32) NOT NULL,
    `captured_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `buyer_txn_id` VARCHAR(64) NULL,
    `merch_txn_id` VARCHAR(64) NULL,
    `admin_txn_id` VARCHAR(64) NULL,

    PRIMARY KEY (`order_id`, `capture_type`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `orders` (
    `order_id` VARCHAR(12) NOT NULL,
    `user_id` INTEGER NOT NULL,
    `service_type` ENUM('FOOD', 'MART') NOT NULL DEFAULT 'FOOD',
    `business_id` INTEGER UNSIGNED NULL,
    `batch_id` BIGINT UNSIGNED NULL,
    `total_amount` DECIMAL(10, 2) NOT NULL,
    `discount_amount` DECIMAL(10, 2) NULL DEFAULT 0.00,
    `delivery_fee` DECIMAL(10, 2) NOT NULL DEFAULT 0.00,
    `payment_method` ENUM('COD', 'Wallet', 'Card') NOT NULL,
    `delivery_address` VARCHAR(500) NOT NULL,
    `delivery_lat` DECIMAL(9, 6) NULL,
    `delivery_lng` DECIMAL(9, 6) NULL,
    `note_for_restaurant` VARCHAR(500) NULL,
    `if_unavailable` VARCHAR(256) NULL,
    `status` VARCHAR(100) NULL DEFAULT 'PENDING',
    `status_reason` VARCHAR(255) NULL,
    `fulfillment_type` ENUM('Delivery', 'Pickup') NULL DEFAULT 'Delivery',
    `priority` BOOLEAN NULL DEFAULT false,
    `estimated_arrivial_time` VARCHAR(40) NULL,
    `created_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `platform_fee` DECIMAL(10, 2) NULL DEFAULT 0.00,
    `merchant_delivery_fee` DECIMAL(10, 2) NULL,
    `delivery_batch_id` BIGINT UNSIGNED NULL,
    `delivery_driver_id` INTEGER NULL,
    `delivery_status` ENUM('PENDING', 'ASSIGNED', 'PICKED_UP', 'ON_ROAD', 'DELIVERED', 'CANCELLED') NOT NULL DEFAULT 'PENDING',
    `delivery_ride_id` BIGINT NULL,
    `delivered_at` DATETIME(0) NULL,
    `delivery_floor_unit` VARCHAR(80) NULL,
    `delivery_instruction_note` VARCHAR(256) NULL,
    `delivery_photo_url` TEXT NULL,
    `delivery_special_mode` ENUM('DROP_OFF', 'MEET_UP') NULL,
    `delivery_photo_urls` TEXT NULL,

    INDEX `idx_orders_batch_id`(`batch_id`),
    INDEX `idx_orders_business_service_created`(`business_id`, `service_type`, `created_at`),
    INDEX `idx_orders_created`(`created_at`),
    INDEX `idx_orders_user`(`user_id`),
    PRIMARY KEY (`order_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `platform_fee_rules` (
    `rule_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `country_code` CHAR(2) NULL,
    `city_id` VARCHAR(64) NULL,
    `service_type` VARCHAR(64) NULL,
    `trip_type` VARCHAR(32) NULL,
    `channel` VARCHAR(32) NULL,
    `fee_type` ENUM('percent', 'fixed', 'mixed') NOT NULL,
    `fee_percent_bp` INTEGER UNSIGNED NULL DEFAULT 0,
    `fee_fixed_cents` INTEGER UNSIGNED NULL DEFAULT 0,
    `min_cents` INTEGER UNSIGNED NULL DEFAULT 0,
    `max_cents` INTEGER UNSIGNED NULL DEFAULT 0,
    `apply_on` ENUM('subtotal', 'fare_after_discounts', 'driver_take_home_base') NOT NULL DEFAULT 'subtotal',
    `priority` INTEGER NOT NULL DEFAULT 100,
    `is_active` BOOLEAN NOT NULL DEFAULT true,
    `starts_at` DATETIME(0) NOT NULL,
    `ends_at` DATETIME(0) NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_match`(`country_code`, `city_id`, `service_type`, `trip_type`, `channel`, `is_active`, `starts_at`, `ends_at`),
    PRIMARY KEY (`rule_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `platform_levies` (
    `levy_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `driver_id` BIGINT UNSIGNED NOT NULL,
    `ride_id` BIGINT UNSIGNED NOT NULL,
    `platform_fee_cents` INTEGER UNSIGNED NOT NULL DEFAULT 0,
    `tax_cents` INTEGER UNSIGNED NOT NULL DEFAULT 0,
    `currency` CHAR(3) NOT NULL DEFAULT 'BTN',
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `fee_rule_id` BIGINT UNSIGNED NULL,
    `tax_rule_id` BIGINT UNSIGNED NULL,
    `payment_method` VARCHAR(20) NULL,

    INDEX `idx_driver`(`driver_id`),
    INDEX `idx_ride`(`ride_id`),
    INDEX `idx_rules`(`fee_rule_id`, `tax_rule_id`),
    UNIQUE INDEX `uniq_driver_ride`(`driver_id`, `ride_id`),
    PRIMARY KEY (`levy_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `platform_revenue` (
    `revenue_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `source_type` ENUM('TRANSPORT', 'FOOD', 'MART') NOT NULL,
    `source_id` VARCHAR(64) NOT NULL,
    `gross_amount_cents` INTEGER UNSIGNED NOT NULL,
    `tax_cents` INTEGER UNSIGNED NOT NULL,
    `net_revenue_cents` INTEGER UNSIGNED NOT NULL,
    `commission_type` ENUM('PERCENT', 'FIXED') NOT NULL,
    `commission_rate_bp` INTEGER UNSIGNED NULL DEFAULT 0,
    `commission_fixed_cents` INTEGER UNSIGNED NULL DEFAULT 0,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `payment_method` VARCHAR(20) NULL,

    INDEX `idx_revenue_date`(`created_at`),
    INDEX `idx_source_type`(`source_type`),
    UNIQUE INDEX `uq_source`(`source_type`, `source_id`),
    PRIMARY KEY (`revenue_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `point_conversion_rule` (
    `id` TINYINT UNSIGNED NOT NULL DEFAULT 1,
    `points_required` INTEGER UNSIGNED NOT NULL,
    `wallet_amount` DECIMAL(10, 2) NOT NULL,
    `is_active` BOOLEAN NOT NULL DEFAULT true,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `point_system` (
    `point_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `min_amount_per_point` DECIMAL(10, 2) NOT NULL,
    `point_to_award` INTEGER UNSIGNED NOT NULL,
    `is_active` BOOLEAN NOT NULL DEFAULT true,
    `created_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `is_active`(`is_active`),
    PRIMARY KEY (`point_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `pool_batches` (
    `pool_batch_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `city_id` VARCHAR(64) NOT NULL,
    `service_type` VARCHAR(32) NOT NULL,
    `status` ENUM('forming', 'in_progress', 'completed', 'cancelled') NOT NULL DEFAULT 'forming',
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `started_at` DATETIME(0) NULL,
    `completed_at` DATETIME(0) NULL,

    INDEX `idx_pool_status`(`status`, `created_at`),
    PRIMARY KEY (`pool_batch_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ride_booking_earnings` (
    `booking_id` BIGINT UNSIGNED NOT NULL,
    `driver_id` BIGINT UNSIGNED NOT NULL,
    `base_cents` INTEGER NOT NULL DEFAULT 0,
    `distance_cents` INTEGER NOT NULL DEFAULT 0,
    `time_cents` INTEGER NOT NULL DEFAULT 0,
    `surge_cents` INTEGER NOT NULL DEFAULT 0,
    `tolls_cents` INTEGER NOT NULL DEFAULT 0,
    `tips_cents` INTEGER NOT NULL DEFAULT 0,
    `other_adj_cents` INTEGER NOT NULL DEFAULT 0,
    `platform_fee_cents` INTEGER NOT NULL DEFAULT 0,
    `tax_cents` INTEGER NOT NULL DEFAULT 0,
    `driver_earnings_cents` INTEGER NULL,
    `currency` CHAR(3) NOT NULL DEFAULT 'BTN',
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    PRIMARY KEY (`booking_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ride_bookings` (
    `booking_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `ride_id` BIGINT UNSIGNED NOT NULL,
    `passenger_id` BIGINT UNSIGNED NOT NULL,
    `seats` INTEGER UNSIGNED NOT NULL DEFAULT 1,
    `status` ENUM('requested', 'accepted', 'arrived_pickup', 'started', 'completed', 'dropped', 'cancelled_passenger', 'cancelled_driver', 'cancelled_system') NOT NULL DEFAULT 'requested',
    `requested_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `accepted_at` DATETIME(0) NULL,
    `arrived_pickup_at` DATETIME(0) NULL,
    `started_at` DATETIME(0) NULL,
    `completed_at` DATETIME(0) NULL,
    `cancelled_at` DATETIME(0) NULL,
    `cancel_reason` VARCHAR(255) NULL,
    `pickup_place` VARCHAR(255) NULL,
    `dropoff_place` VARCHAR(255) NULL,
    `pickup_lat` DOUBLE NULL,
    `pickup_lng` DOUBLE NULL,
    `dropoff_lat` DOUBLE NULL,
    `dropoff_lng` DOUBLE NULL,
    `fare_cents` INTEGER UNSIGNED NOT NULL DEFAULT 0,
    `currency` CHAR(3) NOT NULL DEFAULT 'BTN',
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `driver_id` BIGINT UNSIGNED NULL,

    INDEX `idx_passenger`(`passenger_id`),
    INDEX `idx_rb_driver`(`driver_id`),
    INDEX `idx_ride`(`ride_id`),
    INDEX `idx_status`(`status`, `requested_at`),
    PRIMARY KEY (`booking_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ride_guest_waypoints` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `ride_id` BIGINT NOT NULL,
    `user_id` BIGINT NOT NULL,
    `lat` DOUBLE NOT NULL,
    `lng` DOUBLE NOT NULL,
    `address` VARCHAR(255) NULL,
    `seq` INTEGER NOT NULL DEFAULT 0,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_ride_seq`(`ride_id`, `seq`),
    INDEX `idx_user`(`user_id`),
    UNIQUE INDEX `uq_ride_user`(`ride_id`, `user_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ride_invites` (
    `invite_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `ride_id` BIGINT UNSIGNED NOT NULL,
    `invite_code` VARCHAR(16) NOT NULL,
    `created_by` BIGINT UNSIGNED NOT NULL,
    `max_guests` TINYINT UNSIGNED NULL DEFAULT 3,
    `expires_at` DATETIME(0) NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `uq_invite_code`(`invite_code`),
    INDEX `idx_ride_id`(`ride_id`),
    PRIMARY KEY (`invite_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ride_participants` (
    `participant_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `ride_id` BIGINT UNSIGNED NOT NULL,
    `user_id` BIGINT UNSIGNED NOT NULL,
    `role` ENUM('host', 'guest') NOT NULL,
    `seats` TINYINT UNSIGNED NOT NULL DEFAULT 1,
    `join_status` ENUM('joined', 'left', 'removed') NOT NULL DEFAULT 'joined',
    `joined_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_ride_id`(`ride_id`),
    INDEX `idx_user_id`(`user_id`),
    UNIQUE INDEX `uq_ride_user`(`ride_id`, `user_id`),
    PRIMARY KEY (`participant_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ride_pricing_snapshots` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `ride_id` BIGINT NOT NULL,
    `platform_fee_cents` INTEGER NOT NULL,
    `gst_cents` INTEGER NOT NULL,
    `total_payable_cents` INTEGER NOT NULL,
    `driver_payout_cents` INTEGER NOT NULL,
    `platform_fee_rule_id` BIGINT NULL,
    `tax_rule_id` BIGINT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `ride_id`(`ride_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ride_ratings` (
    `rating_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `ride_id` BIGINT UNSIGNED NOT NULL,
    `driver_id` BIGINT UNSIGNED NOT NULL,
    `passenger_id` BIGINT UNSIGNED NULL,
    `rating` TINYINT UNSIGNED NOT NULL,
    `comment` VARCHAR(500) NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `payment_status` BOOLEAN NOT NULL DEFAULT true,

    UNIQUE INDEX `uq_rr_ride`(`ride_id`),
    INDEX `idx_rr_driver_created`(`driver_id`, `created_at`),
    INDEX `idx_rr_driver_rating`(`driver_id`, `rating`),
    PRIMARY KEY (`rating_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ride_stops` (
    `stop_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `ride_id` BIGINT UNSIGNED NOT NULL,
    `booking_id` BIGINT UNSIGNED NULL,
    `type` ENUM('pickup', 'dropoff') NOT NULL,
    `seq` INTEGER NOT NULL,
    `place` VARCHAR(255) NULL,
    `lat` DOUBLE NOT NULL,
    `lng` DOUBLE NOT NULL,
    `eta_at` DATETIME(0) NULL,
    `added_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `fk_rs_booking`(`booking_id`),
    INDEX `idx_rs_ride`(`ride_id`, `seq`),
    PRIMARY KEY (`stop_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ride_tips` (
    `tip_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `ride_id` BIGINT UNSIGNED NOT NULL,
    `driver_id` BIGINT UNSIGNED NOT NULL,
    `passenger_id` BIGINT UNSIGNED NOT NULL,
    `booking_id` BIGINT UNSIGNED NULL,
    `amount_cents` INTEGER UNSIGNED NOT NULL,
    `currency` CHAR(3) NOT NULL DEFAULT 'BTN',
    `idempotency_key` VARCHAR(64) NULL,
    `status` ENUM('authorized', 'captured', 'refunded', 'failed') NOT NULL DEFAULT 'captured',
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `uniq_idem`(`idempotency_key`),
    INDEX `idx_booking`(`booking_id`),
    INDEX `idx_driver`(`driver_id`),
    INDEX `idx_passenger`(`passenger_id`),
    INDEX `idx_ride`(`ride_id`),
    PRIMARY KEY (`tip_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ride_types` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(100) NOT NULL,
    `code` VARCHAR(32) NOT NULL,
    `description` TEXT NULL,
    `base_fare_cents` INTEGER NOT NULL,
    `per_km_rate_cents` INTEGER NOT NULL,
    `min_fare_cents` INTEGER NOT NULL,
    `cancellation_fee_cents` INTEGER NOT NULL,
    `capacity` SMALLINT UNSIGNED NOT NULL DEFAULT 4,
    `vehicle_type` VARCHAR(32) NOT NULL,
    `icon_url` VARCHAR(512) NULL,
    `is_active` BOOLEAN NOT NULL DEFAULT true,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `uq_ride_types_name`(`name`),
    UNIQUE INDEX `uq_ride_types_code`(`code`),
    INDEX `idx_ride_types_is_active`(`is_active`),
    INDEX `idx_ride_types_vehicle_type`(`vehicle_type`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ride_waypoints` (
    `ride_id` BIGINT NOT NULL,
    `order_index` INTEGER NOT NULL,
    `lat` DOUBLE NOT NULL,
    `lng` DOUBLE NOT NULL,
    `address` VARCHAR(255) NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_ride`(`ride_id`),
    PRIMARY KEY (`ride_id`, `order_index`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `rides` (
    `ride_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `driver_id` BIGINT UNSIGNED NULL,
    `passenger_id` BIGINT UNSIGNED NULL,
    `service_type` VARCHAR(32) NOT NULL DEFAULT 'standard',
    `trip_type` ENUM('instant', 'scheduled', 'pool', 'group') NOT NULL DEFAULT 'instant',
    `booking_type` ENUM('INSTANT', 'SCHEDULED', 'POOL', 'GROUP') NOT NULL DEFAULT 'INSTANT',
    `scheduled_at` DATETIME(0) NULL,
    `dispatch_at` DATETIME(0) NULL,
    `reserved_at` DATETIME(0) NULL,
    `reserved_confirmed_at` DATETIME(0) NULL,
    `next_attempt_at` DATETIME(0) NULL,
    `attempt_count` INTEGER NOT NULL DEFAULT 0,
    `is_shared` BOOLEAN NOT NULL DEFAULT false,
    `pool_batch_id` BIGINT UNSIGNED NULL,
    `status` ENUM('scheduled', 'reserved', 'matching', 'requested', 'offered_to_driver', 'accepted', 'arrived_pickup', 'started', 'completed', 'cancelled_driver', 'cancelled_rider', 'cancelled_system', 'failed') NOT NULL,
    `requested_at` DATETIME(0) NOT NULL,
    `accepted_at` DATETIME(0) NULL,
    `arrived_pickup_at` DATETIME(0) NULL,
    `started_at` DATETIME(0) NULL,
    `completed_at` DATETIME(0) NULL,
    `cancelled_at` DATETIME(0) NULL,
    `cancel_reason` VARCHAR(255) NULL,
    `fail_reason` VARCHAR(64) NULL,
    `offer_driver_id` BIGINT UNSIGNED NULL,
    `offer_expire_at` DATETIME(0) NULL,
    `driver_reminded_at` DATETIME(0) NULL,
    `pickup_place` VARCHAR(255) NULL,
    `dropoff_place` VARCHAR(255) NULL,
    `pickup_lat` DOUBLE NULL,
    `pickup_lng` DOUBLE NULL,
    `dropoff_lat` DOUBLE NULL,
    `dropoff_lng` DOUBLE NULL,
    `distance_m` INTEGER NULL,
    `duration_s` INTEGER NULL,
    `capacity_seats` TINYINT UNSIGNED NULL,
    `seats_booked` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `fare_cents` INTEGER UNSIGNED NULL,
    `base_fare_cents` INTEGER UNSIGNED NOT NULL DEFAULT 0,
    `currency` CHAR(3) NOT NULL DEFAULT 'BTN',
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `payment_method` VARCHAR(20) NULL,

    INDEX `idx_payment_method`(`payment_method`),
    INDEX `idx_rides_driver_active`(`driver_id`, `status`, `accepted_at`),
    INDEX `idx_rides_driver_completed`(`driver_id`, `completed_at`),
    INDEX `idx_rides_driver_requested`(`driver_id`, `requested_at`),
    INDEX `idx_rides_next_attempt`(`status`, `next_attempt_at`),
    INDEX `idx_rides_offer_driver`(`offer_driver_id`, `offer_expire_at`),
    INDEX `idx_rides_passenger_active`(`passenger_id`, `status`, `requested_at`),
    INDEX `idx_rides_pool_batch`(`pool_batch_id`),
    INDEX `idx_rides_pool_sales`(`is_shared`, `status`, `seats_booked`, `capacity_seats`),
    INDEX `idx_rides_sched_dispatch`(`booking_type`, `status`, `dispatch_at`),
    INDEX `idx_rides_scheduled`(`status`, `scheduled_at`),
    INDEX `idx_rides_triptype_status`(`trip_type`, `status`),
    PRIMARY KEY (`ride_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `rma_pg_logs` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `order_no` VARCHAR(64) NULL,
    `bfs_txn_id` VARCHAR(64) NULL,
    `tag` VARCHAR(32) NULL,
    `raw_log` MEDIUMTEXT NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_bfs_txn_id`(`bfs_txn_id`),
    INDEX `idx_order_no`(`order_no`),
    INDEX `idx_tag_created`(`tag`, `created_at`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `settlement_accounts` (
    `party_type` ENUM('DRIVER', 'MERCHANT', 'USER', 'PARTNER') NOT NULL,
    `party_id` BIGINT UNSIGNED NOT NULL,
    `balance_cents` BIGINT NOT NULL DEFAULT 0,
    `currency` CHAR(3) NOT NULL DEFAULT 'BTN',
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_balance`(`balance_cents`),
    PRIMARY KEY (`party_type`, `party_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `settlement_ledger` (
    `entry_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `party_type` ENUM('DRIVER', 'MERCHANT', 'USER', 'PARTNER') NOT NULL,
    `party_id` BIGINT UNSIGNED NOT NULL,
    `source_type` ENUM('RIDE', 'FOOD_ORDER', 'MART_ORDER', 'PAYOUT', 'PAYMENT', 'ADJUSTMENT') NOT NULL,
    `source_id` VARCHAR(64) NOT NULL,
    `entry_type` ENUM('PLATFORM_FEE_DUE', 'TAX_DUE', 'DELIVERY_FEE_DUE', 'AUTO_DEDUCT', 'WALLET_PAYMENT', 'MANUAL_PAYMENT', 'REFUND_CREDIT', 'ADJUSTMENT', 'REVERSAL') NOT NULL,
    `amount_cents` BIGINT NOT NULL,
    `currency` CHAR(3) NOT NULL DEFAULT 'BTN',
    `note` VARCHAR(255) NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_party_date`(`party_type`, `party_id`, `created_at`),
    INDEX `idx_source`(`source_type`, `source_id`),
    UNIQUE INDEX `uq_post_once`(`party_type`, `party_id`, `source_type`, `source_id`, `entry_type`),
    PRIMARY KEY (`entry_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `sms_messages` (
    `id` VARCHAR(36) NOT NULL,
    `to_msisdn` VARCHAR(32) NOT NULL,
    `sender_id` VARCHAR(32) NOT NULL,
    `text` TEXT NOT NULL,
    `status` ENUM('QUEUED', 'SENT', 'FAILED', 'DELIVERED', 'UNDELIVERED', 'EXPIRED', 'REJECTED', 'UNKNOWN') NOT NULL DEFAULT 'QUEUED',
    `error` VARCHAR(255) NULL,
    `smpp_message_id` VARCHAR(128) NULL,
    `created_at` DATETIME(0) NOT NULL,
    `sent_at` DATETIME(0) NULL,
    `delivered_at` DATETIME(0) NULL,

    INDEX `idx_smpp_id`(`smpp_message_id`),
    INDEX `idx_status`(`status`),
    INDEX `idx_to`(`to_msisdn`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `system_notifications` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `title` VARCHAR(255) NOT NULL,
    `message` TEXT NOT NULL,
    `delivery_channels` LONGTEXT NOT NULL DEFAULT (json_array()),
    `target_audience` LONGTEXT NOT NULL DEFAULT (json_array()),
    `created_by` BIGINT UNSIGNED NULL,
    `sent_at` DATETIME(0) NULL,
    `status` ENUM('pending', 'sent', 'failed') NULL DEFAULT 'sent',
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `fk_notifications_user`(`created_by`),
    INDEX `idx_created_at`(`created_at`),
    INDEX `idx_status`(`status`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `tax_ledger` (
    `tax_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `source_type` ENUM('TRANSPORT', 'FOOD', 'MART') NOT NULL,
    `source_id` VARCHAR(64) NOT NULL,
    `tax_type` ENUM('GST') NOT NULL,
    `tax_amount_cents` INTEGER UNSIGNED NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `uq_tax`(`source_type`, `source_id`),
    PRIMARY KEY (`tax_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `tax_rules` (
    `tax_rule_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `country_code` CHAR(2) NULL,
    `city_id` VARCHAR(64) NULL,
    `service_type` VARCHAR(64) NULL,
    `tax_type` ENUM('VAT', 'GST', 'TDS', 'DST', 'LOCAL_SURCHARGE') NOT NULL,
    `rate_percent_bp` INTEGER UNSIGNED NOT NULL,
    `tax_inclusive` BOOLEAN NOT NULL DEFAULT false,
    `taxable_base` ENUM('platform_fee', 'fare_subtotal', 'fare_after_discounts', 'driver_earnings') NOT NULL DEFAULT 'platform_fee',
    `priority` INTEGER NOT NULL DEFAULT 100,
    `is_active` BOOLEAN NOT NULL DEFAULT true,
    `starts_at` DATETIME(0) NOT NULL,
    `ends_at` DATETIME(0) NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_match`(`country_code`, `city_id`, `service_type`, `tax_type`, `is_active`, `starts_at`, `ends_at`),
    PRIMARY KEY (`tax_rule_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `user_devices` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `user_id` BIGINT UNSIGNED NOT NULL,
    `device_id` VARCHAR(255) NOT NULL,
    `updated_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `unique_user_device`(`user_id`, `device_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `user_verification` (
    `verification_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `user_id` BIGINT UNSIGNED NOT NULL,
    `verification_type` ENUM('email', 'phone', '2fa') NOT NULL,
    `token` VARCHAR(100) NOT NULL,
    `expires_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `is_used` BOOLEAN NULL DEFAULT false,
    `created_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `expires_at`(`expires_at`),
    INDEX `token`(`token`),
    INDEX `user_id`(`user_id`),
    INDEX `verification_type`(`verification_type`, `user_id`),
    PRIMARY KEY (`verification_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `user_vouchers` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `user_id` VARCHAR(50) NOT NULL,
    `voucher_code` VARCHAR(50) NOT NULL,
    `title` VARCHAR(255) NOT NULL,
    `description` TEXT NULL,
    `discount_type` ENUM('percentage', 'fixed') NOT NULL,
    `discount_value` DECIMAL(10, 2) NOT NULL,
    `applicable_ride_type` VARCHAR(50) NULL,
    `expiry_date` DATETIME(0) NOT NULL,
    `is_used` BOOLEAN NULL DEFAULT false,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `voucher_code`(`voucher_code`),
    INDEX `idx_code`(`voucher_code`),
    INDEX `idx_user`(`user_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `users` (
    `user_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `user_name` VARCHAR(50) NOT NULL,
    `email` VARCHAR(100) NOT NULL,
    `phone` VARCHAR(20) NOT NULL,
    `password_hash` VARCHAR(255) NOT NULL,
    `role` VARCHAR(20) NOT NULL DEFAULT 'user',
    `points` BIGINT UNSIGNED NOT NULL DEFAULT 0,
    `profile_image` VARCHAR(255) NOT NULL DEFAULT '/uploads/profiles/default.png',
    `created_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `is_verified` BOOLEAN NULL DEFAULT false,
    `is_active` BOOLEAN NULL DEFAULT true,
    `last_login` TIMESTAMP(0) NULL,
    `cid` VARCHAR(11) NULL,
    `tier` VARCHAR(50) NULL DEFAULT 'bronze',
    `segment` VARCHAR(50) NULL DEFAULT 'regular',

    UNIQUE INDEX `email`(`email`),
    UNIQUE INDEX `phone`(`phone`),
    UNIQUE INDEX `cid`(`cid`),
    INDEX `email_2`(`email`),
    INDEX `is_active`(`is_active`),
    INDEX `phone_2`(`phone`),
    INDEX `role`(`role`),
    PRIMARY KEY (`user_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `wallet_holds` (
    `hold_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `user_id` BIGINT UNSIGNED NOT NULL,
    `source_type` VARCHAR(32) NOT NULL,
    `source_id` VARCHAR(64) NOT NULL,
    `amount` DECIMAL(17, 2) NOT NULL,
    `status` ENUM('ACTIVE', 'RELEASED', 'CAPTURED') NOT NULL DEFAULT 'ACTIVE',
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_user_status`(`user_id`, `status`),
    UNIQUE INDEX `uq_hold_source`(`source_type`, `source_id`),
    PRIMARY KEY (`hold_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `wallet_id_map` (
    `user_id` BIGINT UNSIGNED NOT NULL,
    `old_wallet_id` VARCHAR(20) NOT NULL,
    `new_wallet_id` VARCHAR(20) NOT NULL,

    UNIQUE INDEX `new_wallet_id`(`new_wallet_id`),
    PRIMARY KEY (`old_wallet_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `wallet_ledger` (
    `ledger_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `user_id` BIGINT UNSIGNED NOT NULL,
    `entry_type` ENUM('WITHDRAW_REQUEST_DEBIT', 'WITHDRAW_REFUND', 'WITHDRAW_PAID') NOT NULL,
    `amount` DECIMAL(17, 2) NOT NULL,
    `source_type` VARCHAR(32) NOT NULL,
    `source_id` VARCHAR(64) NOT NULL,
    `note` VARCHAR(255) NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_source`(`source_type`, `source_id`),
    INDEX `idx_user_date`(`user_id`, `created_at`),
    PRIMARY KEY (`ledger_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `wallet_transactions` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `transaction_id` VARCHAR(32) NOT NULL,
    `journal_code` VARCHAR(36) NULL,
    `tnx_from` VARCHAR(20) NULL,
    `tnx_to` VARCHAR(20) NULL,
    `amount` DECIMAL(12, 2) NOT NULL,
    `remark` ENUM('CR', 'DR') NOT NULL,
    `note` TEXT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `actual_wallet_id` VARCHAR(20) NULL,

    UNIQUE INDEX `transaction_id`(`transaction_id`),
    INDEX `idx_actual_wallet`(`actual_wallet_id`, `created_at`),
    INDEX `idx_from`(`tnx_from`),
    INDEX `idx_journal_code`(`journal_code`),
    INDEX `idx_to`(`tnx_to`),
    INDEX `idx_tx_created`(`created_at`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `wallets` (
    `id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `wallet_id` VARCHAR(20) NULL,
    `user_id` BIGINT UNSIGNED NOT NULL,
    `amount` DECIMAL(15, 2) NOT NULL DEFAULT 0.00,
    `t_pin` VARCHAR(255) NULL,
    `status` ENUM('ACTIVE', 'INACTIVE') NOT NULL DEFAULT 'ACTIVE',
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `wallet_id`(`wallet_id`),
    UNIQUE INDEX `user_id`(`user_id`),
    INDEX `idx_wallet_created`(`created_at`),
    INDEX `idx_wallet_status`(`status`),
    INDEX `idx_wallet_user`(`user_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `withdrawal_audit` (
    `audit_id` BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `request_id` VARCHAR(64) NOT NULL,
    `actor_type` ENUM('USER', 'ADMIN', 'SYSTEM') NOT NULL,
    `actor_id` BIGINT UNSIGNED NULL,
    `action` VARCHAR(40) NOT NULL,
    `metadata_json` LONGTEXT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_req_date`(`request_id`, `created_at`),
    PRIMARY KEY (`audit_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `withdrawal_requests` (
    `request_id` VARCHAR(64) NOT NULL,
    `user_id` BIGINT UNSIGNED NOT NULL,
    `amount` DECIMAL(17, 2) NOT NULL,
    `currency` CHAR(3) NOT NULL DEFAULT 'BTN',
    `bank_code` VARCHAR(32) NOT NULL,
    `bank_name` VARCHAR(64) NOT NULL,
    `account_no` VARCHAR(64) NOT NULL,
    `account_name` VARCHAR(128) NOT NULL,
    `status` ENUM('HELD', 'NEEDS_INFO', 'APPROVED', 'REJECTED', 'CANCELLED', 'PAID', 'FAILED') NOT NULL DEFAULT 'HELD',
    `idempotency_key` VARCHAR(80) NOT NULL,
    `reviewed_by` BIGINT UNSIGNED NULL,
    `reviewed_at` DATETIME(0) NULL,
    `approved_by` BIGINT UNSIGNED NULL,
    `approved_at` DATETIME(0) NULL,
    `paid_by` BIGINT UNSIGNED NULL,
    `paid_at` DATETIME(0) NULL,
    `bank_reference` VARCHAR(128) NULL,
    `user_note` VARCHAR(255) NULL,
    `admin_note` VARCHAR(255) NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `uq_bank_ref`(`bank_reference`),
    INDEX `idx_status_date`(`status`, `created_at`),
    INDEX `idx_user_date`(`user_id`, `created_at`),
    UNIQUE INDEX `uq_user_idem`(`user_id`, `idempotency_key`),
    PRIMARY KEY (`request_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `admin_logs` ADD CONSTRAINT `fk_admin_logs_user` FOREIGN KEY (`user_id`) REFERENCES `users`(`user_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `all_device_ids` ADD CONSTRAINT `fk_all_device_ids_user` FOREIGN KEY (`user_id`) REFERENCES `users`(`user_id`) ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `app_ratings` ADD CONSTRAINT `fk_app_rating_user` FOREIGN KEY (`user_id`) REFERENCES `users`(`user_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `business_banners` ADD CONSTRAINT `business_banners_ibfk_1` FOREIGN KEY (`business_id`) REFERENCES `merchant_business_details`(`business_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `cancelled_order_items` ADD CONSTRAINT `fk_cancelled_items_order` FOREIGN KEY (`order_id`) REFERENCES `cancelled_orders`(`order_id`) ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `carts` ADD CONSTRAINT `fk_carts_business` FOREIGN KEY (`business_id`) REFERENCES `merchant_business_details`(`business_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `carts` ADD CONSTRAINT `fk_carts_user` FOREIGN KEY (`user_id`) REFERENCES `users`(`user_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `delivered_order_items` ADD CONSTRAINT `fk_delivered_items_order` FOREIGN KEY (`order_id`) REFERENCES `delivered_orders`(`order_id`) ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `delivery_batches` ADD CONSTRAINT `fk_db_assigned_driver` FOREIGN KEY (`assigned_driver_id`) REFERENCES `drivers`(`driver_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `delivery_drops` ADD CONSTRAINT `fk_dd_batch` FOREIGN KEY (`batch_id`) REFERENCES `delivery_batches`(`batch_id`) ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `delivery_drops` ADD CONSTRAINT `fk_dd_ride` FOREIGN KEY (`ride_id`) REFERENCES `rides`(`ride_id`) ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `driver_adjustments` ADD CONSTRAINT `fk_da_driver` FOREIGN KEY (`driver_id`) REFERENCES `drivers`(`driver_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `driver_adjustments` ADD CONSTRAINT `fk_da_ride` FOREIGN KEY (`ride_id`) REFERENCES `rides`(`ride_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `driver_devices` ADD CONSTRAINT `driver_devices_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users`(`user_id`) ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `driver_documents` ADD CONSTRAINT `driver_documents_ibfk_1` FOREIGN KEY (`driver_id`) REFERENCES `drivers`(`driver_id`) ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `driver_earnings` ADD CONSTRAINT `fk_de_driver` FOREIGN KEY (`driver_id`) REFERENCES `drivers`(`driver_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `driver_earnings` ADD CONSTRAINT `fk_de_ride` FOREIGN KEY (`ride_id`) REFERENCES `rides`(`ride_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `driver_locations` ADD CONSTRAINT `driver_locations_ibfk_1` FOREIGN KEY (`driver_id`) REFERENCES `drivers`(`driver_id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `driver_vehicles` ADD CONSTRAINT `driver_vehicles_ibfk_1` FOREIGN KEY (`driver_id`) REFERENCES `drivers`(`driver_id`) ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `drivers` ADD CONSTRAINT `drivers_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users`(`user_id`) ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `food_menu` ADD CONSTRAINT `food_menu_ibfk_1` FOREIGN KEY (`business_id`) REFERENCES `merchant_business_details`(`business_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `food_ratings` ADD CONSTRAINT `fk_fr_business` FOREIGN KEY (`business_id`) REFERENCES `merchant_business_details`(`business_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `food_ratings` ADD CONSTRAINT `fk_fr_user` FOREIGN KEY (`user_id`) REFERENCES `users`(`user_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `mart_menu` ADD CONSTRAINT `mart_menu_ibfk_1` FOREIGN KEY (`business_id`) REFERENCES `merchant_business_details`(`business_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `mart_ratings` ADD CONSTRAINT `fk_mr_business` FOREIGN KEY (`business_id`) REFERENCES `merchant_business_details`(`business_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `mart_ratings` ADD CONSTRAINT `fk_mr_user` FOREIGN KEY (`user_id`) REFERENCES `users`(`user_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `merchant_bank_details` ADD CONSTRAINT `fk_mbd_business` FOREIGN KEY (`business_id`) REFERENCES `merchant_business_details`(`business_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `merchant_bank_details` ADD CONSTRAINT `fk_mbd_user` FOREIGN KEY (`user_id`) REFERENCES `users`(`user_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `merchant_business_details` ADD CONSTRAINT `merchant_business_details_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users`(`user_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `merchant_business_types` ADD CONSTRAINT `merchant_business_types_ibfk_1` FOREIGN KEY (`business_id`) REFERENCES `merchant_business_details`(`business_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `merchant_business_types` ADD CONSTRAINT `merchant_business_types_ibfk_2` FOREIGN KEY (`business_type_id`) REFERENCES `business_types`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `merchant_earnings` ADD CONSTRAINT `fk_me_business` FOREIGN KEY (`business_id`) REFERENCES `merchant_business_details`(`business_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `order_items` ADD CONSTRAINT `fk_order_items_batch` FOREIGN KEY (`batch_id`) REFERENCES `delivery_batches`(`batch_id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `order_items` ADD CONSTRAINT `order_items_ibfk_1` FOREIGN KEY (`order_id`) REFERENCES `orders`(`order_id`) ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `platform_levies` ADD CONSTRAINT `fk_pl_driver` FOREIGN KEY (`driver_id`) REFERENCES `drivers`(`driver_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `platform_levies` ADD CONSTRAINT `fk_pl_ride` FOREIGN KEY (`ride_id`) REFERENCES `rides`(`ride_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `ride_booking_earnings` ADD CONSTRAINT `fk_be_booking` FOREIGN KEY (`booking_id`) REFERENCES `ride_bookings`(`booking_id`) ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `ride_bookings` ADD CONSTRAINT `fk_rb_driver` FOREIGN KEY (`driver_id`) REFERENCES `drivers`(`driver_id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `ride_bookings` ADD CONSTRAINT `fk_rb_ride` FOREIGN KEY (`ride_id`) REFERENCES `rides`(`ride_id`) ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `ride_ratings` ADD CONSTRAINT `fk_rr_driver` FOREIGN KEY (`driver_id`) REFERENCES `drivers`(`driver_id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `ride_ratings` ADD CONSTRAINT `fk_rr_ride` FOREIGN KEY (`ride_id`) REFERENCES `rides`(`ride_id`) ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `ride_stops` ADD CONSTRAINT `fk_rs_booking` FOREIGN KEY (`booking_id`) REFERENCES `ride_bookings`(`booking_id`) ON DELETE SET NULL ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `ride_stops` ADD CONSTRAINT `fk_rs_ride` FOREIGN KEY (`ride_id`) REFERENCES `rides`(`ride_id`) ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `ride_tips` ADD CONSTRAINT `fk_rt_booking` FOREIGN KEY (`booking_id`) REFERENCES `ride_bookings`(`booking_id`) ON DELETE SET NULL ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `ride_tips` ADD CONSTRAINT `fk_rt_driver` FOREIGN KEY (`driver_id`) REFERENCES `drivers`(`driver_id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `ride_tips` ADD CONSTRAINT `fk_rt_ride` FOREIGN KEY (`ride_id`) REFERENCES `rides`(`ride_id`) ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `rides` ADD CONSTRAINT `fk_rides_driver` FOREIGN KEY (`driver_id`) REFERENCES `drivers`(`driver_id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `rides` ADD CONSTRAINT `fk_rides_pool_batch` FOREIGN KEY (`pool_batch_id`) REFERENCES `pool_batches`(`pool_batch_id`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `system_notifications` ADD CONSTRAINT `fk_notifications_user` FOREIGN KEY (`created_by`) REFERENCES `users`(`user_id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `user_devices` ADD CONSTRAINT `user_devices_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users`(`user_id`) ON DELETE CASCADE ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `user_verification` ADD CONSTRAINT `user_verification_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users`(`user_id`) ON DELETE CASCADE ON UPDATE RESTRICT;

